@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* Resets */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* No Scroll-bar */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* variables */
:root {
  --primary-color: #001219;
  --primary-button-color: #005f73;
  --primary-button-text-color: #e9d8a6;
  --secondary-button-color: #94d2bd;
  --gradient_variable: linear-gradient(
    98.28deg,
    rgba(0, 255, 160, 0.7) 0.97%,
    rgba(186, 0, 255, 0.433696) 47.61%,
    rgba(20, 0, 255, 0) 87.94%
  );
}
body {
  font-family: "Poppins", sans-serif;
}
/* utilities */
.container {
  margin-inline: 5vw;
}
.flex {
  display: flex;
  align-items: center;
}
nav{
  width: 100vw;
  height: 60px;
  background-color: var(--primary-color);
  position: fixed;
  top: 0px;
  left: 0px;
}
.templogo {
  height: 50px;
  width: 50px;
  background-color: var(--secondary-button-color);
  border-radius: 25px;
  text-align: center;
  margin-left: 60px;
}
.main-nav{
  display: flex;
  justify-content: space-between;
}
.nav-links{
  float: right;
  display: inline;
  margin-right: 50px;
}
.nav-buttons{
  list-style-type: none;
  justify-content: center;
  gap: 40px;
}
.nav-buttons a {
  color: var(--primary-button-text-color);
  border-radius: 10px;
  padding: 8px 24px;
  transition: 0.4s ease-out;
}
.nav-buttons a:hover,
.nav-buttons a:active {
  background-color: var(--secondary-button-color);
  color: var(--primary-color) !important;
}
.icon 
{
  display: none;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #94d2bd;
}
@media (max-width: 768px) {
  .container {
    margin-inline: 5vw;
  }
  nav {
    background-color: var(--primary-color);
  }
  .main-nav {
    display: block;
  }
   .nav-links.active ul{
    position: absolute;
    justify-content: center;
    top: 60px;
    left: 0px;
    right: 0px;
    display: block;
    min-width: 100vw;
    background-color: var(--primary-color);
    list-style: none;
    text-align: center;
  }
  .nav-links.inactive {
    display: none;
  }
  .nav-buttons.active a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav-buttons.inactive a {
    display: none;
  }
  .templogo {
    margin-left: 40px;
    position: relative;
    margin-top: 5px;
  }
  .icon{
    display: block;
    margin-right: 20px;
  }
  .icon.active
  {
    display: block;
    transform: rotate(180deg);
    transition: transform ease-in-out 1s;
  } 
  .icon.inactive{
    transform: rotate(-180deg);
    transition: transform ease-in-out 1s;
  }
  
  .hero-content {
    padding-top: 60px;
  }
}

/* Hero Section */
.hero-content {
  padding-top: 60px;
}
section.hero_section {
  width: 100vw;
  overflow: hidden;
  background: var(--gradient_variable)
}
.hero-content {
  flex-wrap: nowrap;
  justify-content: center;
  gap: 50px;
  align-content: center;
  height: 100vh;
}
#hero-left {
  flex-wrap: wrap;
  max-width: 50vw;
  overflow: hidden;
}
#hero-section-heading {
  display: block;
  margin-top: 65px;
  font-weight: 700;
  font-size: 2.5rem;
  color: #000000;
  overflow: hidden;
}
#hero-section-tagline {
  display: block;
  font-size: 32px;
  color: #000000;
  overflow: hidden;
}
#hero-right {
  align-self: flex-end;
}
#hero-image {
  width: 100%;
}
/* Announcement */
section.announcement {
  background-color: var(--secondary-button-color);
  color: var(--primary-color);
  width: 100vw;
  border: 8px solid var(--primary-color);
}
.anc-heading {
  padding: 50px 0px;
  text-align: center;
}
ul.anc-body {
  padding-bottom: 50px;
}
.line {
  margin-bottom: 20px;
}
/* Newsletter */
section.newsletter {
  width: 100vw;
  background-color: var(--secondary-button-color);
  color: var(--primary-color);
  height: 300px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h1.n-heading {
  text-align: center;
}
p.n-para {
  text-align: center;
}
.in-field {
  display: inline;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-button-color);
  border-radius: 5px;
  height: 32px;
  font-size: 16px;
  padding: 5px;
}

.form {
  width: 35vw;
  height: inherit;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.label {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
}
#name {
  width: 80%;
  height: 32px;
}

#email {
  width: 80%;
}
#submit {
  background-color: black;
  color: white;
  margin: auto;
  width: 100%;
  margin-top: 2.5%;
}

#branch {
  width: 50%;
}

/* Footer */
footer.foot {
  background-color: var(--primary-color);
  height: 300px;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
div.logo {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  background-color: var(--secondary-button-color);
}
footer > p {
  color: var(--secondary-button-color);
  font-weight: 700;
  font-size: 32px;
}
.social-links {
  justify-content: center;
  align-items: center;
  gap: 41px;
}
footer > hr {
  border-color: var(--secondary-button-color);
  align-self: stretch;
  margin-inline: 100px;
}
p.cprt {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}


/* newslatter section  */

section.newsletter {
  width: 100vw;
  background-color: var(--secondary-button-color);
  color: var(--primary-color);
  height: 300px;
}
h1.n-heading {
  text-align: center;
}
p.n-para {
  text-align: center;
}
.in-field {
  display: inline;
  border: var(--primary-color) 2px solid;
  background-color: var(--secondary-button-color);
  border-radius: 5px;
  height: 32px;
  font-size: 16px;
  padding: 5px;
  margin-right: 1.5%;
}

.form {

  width: 35vw;
  height: inherit; 
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.label{
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
}
#name {
  width: 80%;
  height: 32px;
}

#email{
  width: 80%;
}
#submit{
  background-color: var(--primary-color);
  color: var(--secondary-button-color);
  margin: auto;
  width: 100%;
  margin-top: 2.5%;
 }

 #branch{
    width: 50%;
 }

